name: Sidekiq-debouncer CI pipeline

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      redis:
        image: ${{ matrix.redis }}
        ports:
          - 6379:6379
    strategy:
      fail-fast: false
      matrix:
        sidekiq: [ "7.2.x", "7.3.x", "8.0.x", "8.1.x" ]
        ruby: [ "3.2.9", "3.3.10", "3.4.8", "4.0.0"]
        redis: [ "redis:7.2-alpine", "docker.dragonflydb.io/dragonflydb/dragonfly:latest" ]
    env:
      RAILS_ENV: test
      SIDEKIQ_VERSION: ${{ matrix.sidekiq }}
      BUNDLE_GEMFILE: ${{ github.workspace }}/.github/gemfiles/sidekiq-${{ matrix.sidekiq }}.gemfile
      RUBY_VERSION: ${{ matrix.ruby }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ env.RUBY_VERSION }}
        bundler-cache: true
    - run: bundle exec rspec
