name: Sidekiq-debouncer CI pipeline

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:6-alpine
        ports:
          - 6379:6379
        options: --entrypoint redis-server
    strategy:
      fail-fast: false
      matrix:
        sidekiq: [ "6.5.8", "7.0.6" ]
        ruby: [ "3.0.5", "3.1.3", "3.2.1" ]
    env:
      RAILS_ENV: test
      SIDEKIQ_VERSION: ${{ matrix.sidekiq }}
      BUNDLE_GEMFILE: ${{ github.workspace }}/.github/gemfiles/sidekiq-${{ matrix.sidekiq }}.gemfile
      RUBY_VERSION: ${{ matrix.ruby }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ env.RUBY_VERSION }}
        bundler-cache: true
    - run: bundle exec rspec
